body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main {
  width: 350px;
  height: 700px;
  background: red;
  /* overflow: hidden; */
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  margin-bottom: 0px;
  
}
.title{
  margin: 10px 15px;
}

label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  align-content: center;
  display: flex;
  margin: 5px 0px 50px 0px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

input {
  width: 65%;
  height: 40px;
  background: #e0dede;
  float: left;
  margin: 10px auto 10px 15px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 20%;
  height: 40px;
  margin: 10px 15px;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #6d44b8;
}

.container{
  position: relative;
  width: auto;
  height: 150px;
  margin: 20px 0px ;
  justify-content: left;
  align-items: left;
  
}

ol{
  text-align: left;
  /* list-style-position: inside; */
  color: #e0dede;
  column-count: 2;
  column-gap: 20px;
  /* border: 1px solid red; */
}

#label{
  font-size: 25px;
  font-weight: normal;
  justify-content: left;
  /* margin-right: 0px; */
  display: inline;
  
  margin-top: 20px 0px;
}
#clear-list, #clear-history{
  width: 15%;
  height: 25px;
  font-size: .8em;
  background: none;
  border: 2px solid #573b8a;
  
}


#info{
  font-size: 12px;
  margin: 0px;
  color: #ddd;
}

#myProgress {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #ddd;
  border-radius: 50px;
}

#myBar {
  background-color: #6d44b8;
  width: 0px;
  height: 1px;
  position: absolute;
  border-radius: 50px;
}

.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 45px;
  height: 75px;
  border-radius: 5px;
  padding: 0px 30px;
  /* border: 1px solid red; */
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#resiinfo,#hisinfo{
  color:#868788;
  font-size: 12px;
  margin-left: 25px;
}
